<script>
    const variantsDataProd{{ product.id }} =[
    {% for variant in product.variants %}
        {
            id: {{ variant.id }},
            title: '{{ variant.title }}',
            titleAlt: '{{ product.title }} - {{ variant.title }}',
            price: '{{ variant.price | money }}',
            compareAtPrice: '{{ variant.compare_at_price | money }}',
            image: '{{ variant.featured_image | image_url: width: 800 }}',
            secondaryImage: '{{ variant.metafields.custom.secondary_image.value | image_url: width: 800 }}'
        }
        {% unless forloop.last %},{% endunless %}
    {% endfor %}
    ]
</script>
<script src="{{ 'product-card.js' | asset_url }}" defer></script>


<div class="collection-product group/product" data-product="{{ product.id }}">

    {% assign current_variant = product.selected_or_first_available_variant %}

    {% if current_variant.featured_image %}
    <div class="border border-neutral-200 rounded-2xl p-4 relative mb-4">
        <div class="pt-[90%] relative">
            <img 
                src="{{ current_variant.featured_image | image_url: width: 800 }}" 
                alt="{{ product.title }} - {{ current_variant.title }}" 
                width="400"
                height="400"
                data-placeholder="primaryImg"
                class="absolute left-0 top-0 w-full h-full! object-contain opacity-100 transition-opacity group-hover/product:opacity-0"
            />
            <img 
                src="{{ current_variant.metafields.custom.secondary_image.value | image_url: width: 800 }}" 
                alt="{{ product.title}} - {{ current_variant.title }}" 
                width="400"
                height="400"
                data-placeholder="secondaryImg"
                class="absolute left-0 top-0 w-full h-full! object-contain opacity-0 transition-opacity group-hover/product:opacity-100"
            />
        </div>
        <span 
            data-placeholder="sale-badge" 
            class="text-red-500 border rounded-xl absolute text-md left-3 top-3 lg:left-5 lg:top-5 px-3 py-0.5
            {% unless current_variant.compare_at_price > current_variant.price %}hidden{% endunless %}
            ">On Sale!</span>

    </div>
    {% endif %}
    <div class="collection-product__content text-sm">
        <ul class="flex gap-2 flex-wrap mb-3">
            {% for variant in product.variants %}
            <li>
                <button 
                    onClick="selectProductVariant(variantsDataProd{{ product.id }}, {{ product.id }}, {{ variant.id }})"
                    data-button="{{ variant.id }}"
                    aria-label="Select {{ variant.title }} variant"
                    class="{% if variant==current_variant %}outline-1{% endif %} outline-offset-1 outline-sky-900
                        w-5 h-5 rounded-full block border-0 cursor-pointer"
                    style="background-color: {{ variant.metafields.custom.color_hex_code }};">
                </button>
            </li>
            {% endfor %}
        </ul>
        <p>{{ product.vendor }}</p>
        <p class="text-base mb-1.5 font-medium text-sky-900">{{ product.title | escape | link_to: product.url }}</p>
        <p data-placeholder="price" aria-live="polite">{{ current_variant.price | money }}</p>

    </div>
</div>